<html>
  <head>
    <title> Hola </title>
    <link rel="stylesheet" href="">
  </head>
  </body>
  <header id="main_navigation" class="clearfix">
    <a href="#" class="name">Jaime Valverde</a>
    <nav>
      <a href="#">Columna 1</a>
      <a href="#">Columna 2</a>
      <a href="#">Columna 3</a>
    </nav>
  </header>
  </body>

  </head>